// Colors

$primary-accent-color: #013b75;
$secondary-accent-color: #ECB127;
$main-background: rgb(242,242,242);


// Responsive widths

$large-screen: 1536px;
$medium-screen: 1023px;
$small-screen: 767px;
$xSmall-screen: 579px;

// flex-center

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes popUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;

    }
}